ca/certs/
ca/index.txt
ca/index.txt.old
ca/index.txt.attr
ca/index.txt.attr.old
ca/intermediate/certs/
ca/intermediate/crlnumber
ca/intermediate/crlnumber.old
ca/intermediate/csr/
ca/intermediate/index.txt
ca/intermediate/index.txt.old
ca/intermediate/index.txt.attr
ca/intermediate/index.txt.attr.old
ca/intermediate/newcerts/
ca/intermediate/private/
ca/intermediate/serial
ca/intermediate/serial.old
ca/newcerts/
ca/private/
ca/serial
ca/serial.old
*.tls/
